h1 {
    font-family: Tahoma;
    font-size: medium;
    color: cadetblue;
}

.pBlue {
    color: darkblue;
    text-decoration: underline;
}

p.pGreen, h2 {
    color: darkgreen;
}

h2 {
    text-decoration: underline;
}